.header{
  background-color: #1f2937;
  min-height: 100vh;
  color:white;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-link-group{
  /* outline: 1px solid red; */
  display: flex;
  padding-bottom: 24px;
  gap:0 16px;
}

.nav-link{
  text-decoration: none;
  font-size: 16px;
  color: #e5e7eb;
  
}

.hero{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.hero-content{
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  justify-content: center;
}

.signup{
  border: none;
  width: 121px;
  height: 42px;
  background-color: #3882f6;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 32px;
  color: white;
}

.title{
  font-weight: 1000;
}

.img{
  border-radius: 20px;
  border: none;
  max-width: 100%;
}

@media screen and (min-width:640px) {
  /* nav */
  .navbar{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-link-group{
    padding-bottom: 0;
  }
  .hero{
    flex-direction: row;
  }
}